@model SFA.DAS.PSRService.Domain.Entities.Section

@{
    var questionList = Model.SubSections.SelectMany(w => w.Questions).ToDictionary(k => k.Id);
    var canBeEdited = ViewBag.CanBeEdited;
    ViewBag.GaData.Vpv = "/public-sector-reporting/report/question/page-factors";
    ViewBag.ZenDeskLabel = "reporting-planning-to-meet-the-target";
}

<div class="govuk-form-group">
    <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Factors that impacted your ability to meet the target</caption>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">What actions have you taken this year to meet the target? How do these compare to the actions taken in the previous year?</td>
                <td class="govuk-table__cell govuk-!-font-weight-bold">@questionList["OutlineActions"].Answer</td>
                    @if (canBeEdited)
                    {
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <a asp-controller="Question" asp-action="Index" asp-route-hashedEmployerAccountId="@ViewData[RouteValues.HashedEmployerAccountId]" asp-route-id="@questionList["OutlineActions"].Id">Change</a>
                    </td>
                    }
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">What challenges have you faced this year in your efforts to meet the target? How do these compare to the challenges experienced in the previous year?</td>
                <td class="govuk-table__cell govuk-!-font-weight-bold">@questionList["Challenges"].Answer</td>
                    @if (canBeEdited)
                    {
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <a asp-controller="Question" asp-action="Index" asp-route-hashedEmployerAccountId="@ViewData[RouteValues.HashedEmployerAccountId]" asp-route-id="@questionList["Challenges"].Id">Change</a>
                    </td>
                    }
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">How are you planning to meet the target in future? What will you continue to do or do differently?</td>
                <td class="govuk-table__cell govuk-!-font-weight-bold">@questionList["TargetPlans"].Answer</td>
                    @if (canBeEdited)
                    {
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <a asp-controller="Question" asp-action="Index" asp-route-hashedEmployerAccountId="@ViewData[RouteValues.HashedEmployerAccountId]" asp-route-id="@questionList["TargetPlans"].Id">Change</a>
                    </td>
                    }
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">Do you have anything else you want to tell us? (optional)</td>
                <td class="govuk-table__cell govuk-!-font-weight-bold">@questionList["AnythingElse"].Answer</td>
                    @if (canBeEdited)
                    {
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <a asp-controller="Question" asp-action="Index" asp-route-hashedEmployerAccountId="@ViewData[RouteValues.HashedEmployerAccountId]" asp-route-id="@questionList["AnythingElse"].Id">Change</a>
                    </td>
                    }
            </tr>
        </tbody>
    </table>
</div>