@model SFA.DAS.PSRService.Web.ViewModels.PercentagesViewModel

<div class="form-group">
    <table>
        <caption class="heading-medium">Reporting percentages<br />
        <span class="font-small">We have computed the percentages that will be reported from the figures you have given.</span>
        </caption>
        <tbody>
        <tr>
            <td>Percentage of apprenticeship starts (both new hires and existing employees who started an apprenticeship) as a proportion of employment starts between @ViewBag.CurrentPeriod.FullString</td>
            <td class="numeric bold">@Model.EmploymentStarts</td>
        </tr>
        <tr>
            <td>Percentage of total headcount that were apprentices on 31 March @ViewBag.CurrentPeriod.EndYear.AsFourDigitString</td>
            <td class="numeric bold">@Model.TotalHeadCount</td>
        </tr>
        <tr>
            @* 31 March 2017 has been hardcoded until refactor *@
            <td>Percentage of apprenticeship starts (both new hires and existing employees who started an apprenticeship) between @ViewBag.CurrentPeriod.FullString as a proportion of total headcount on 31 March 2017</td>
            <td class="numeric bold">@Model.NewThisPeriod</td>
        </tr>
        </tbody>
    </table>
</div>