@model SFA.DAS.PSRService.Domain.Entities.Section

@{
    var questionList = Model.Questions.ToDictionary(k => k.Id);
    var canBeEdited = ViewBag.CanBeEdited;
    ViewBag.Vpv = "report/question/page-your-apprentices";
}

<div class="form-group">
    <table>
        <caption class="heading-medium">Number of apprentices who work in England</caption>
        <tbody>
            <tr>
                <td>Number of apprentices who were working in England on 31 March @ViewBag.CurrentPeriod.StartYear.AsFourDigitString</td>
                <td class="numeric bold js-addcommas">@questionList["atStart"].Answer</td>
                    @if (canBeEdited)
                    {
                    <td class="link-right">
                        <a asp-controller="Question" asp-action="Index" asp-route-id="@Model.Id">Change</a>
                    </td>
                    }
            </tr>
            <tr>
                <td>Number of apprentices who were working in England on 31 March @ViewBag.CurrentPeriod.EndYear.AsFourDigitString</td>
                <td class="numeric bold js-addcommas">@questionList["atEnd"].Answer</td>
                    @if (canBeEdited)
                    {
                    <td class="link-right">
                        <a asp-controller="Question" asp-action="Index" asp-route-id="@Model.Id">Change</a>
                    </td>
                    }
            </tr>
            <tr>
                <td>Number of new apprentices in England between @ViewBag.CurrentPeriod.FullString (includes both new hires and existing employees who started an apprenticeship)</td>
                <td class="numeric bold js-addcommas">@questionList["newThisPeriod"].Answer</td>
                    @if (canBeEdited)
                    {
                    <td class="link-right">
                        <a asp-controller="Question" asp-action="Index" asp-route-id="@Model.Id">Change</a>
                    </td>
                    }
            </tr>
        </tbody>
    </table>
</div>

