@using SFA.DAS.PSRService.Web.ViewModels.Home
@using SFA.DAS.PSRService.Web.SubmitActions
@model SFA.DAS.PSRService.Web.ViewModels.Home.IndexViewModel

@{
    ViewData["Title"] = "Public sector reporting";
}

    <div class="grid-row">
        <div class="column-two-thirds">
            <a href="@ViewData["HomeUrl"]" class="link-back">Back to Apprentices</a>
            <h1 class="heading-xlarge">Annual apprenticeship return</h1>
            <p>
                @if (Model.CanCreateReport || Model.CanEditReport)
                {
                    @:You can submit a new report for the year @Model.Period.FullString or
                }
                else
                {
                    @:The report for the year @Model.Period.FullString is already submitted, you can
                }
                review previously submitted reports.
            </p>

            <form action="@Url.Action("Submit")" method="post">
                <div class="form-group">
                    <fieldset>
                        <legend>
                            <h2 class="heading-medium">
                                What do you want to do?
                            </h2>
                        </legend>
                        <div class="multiple-choice">
                            @if (Model.Readonly && Model.CanCreateReport == false)
                            {
                                if (Model.CurrentReportAlreadySubmitted)
                                {
                                    <input id="home-action-view" type="radio" name="action" value="@SFA.DAS.PSRService.Web.SubmitActions.Home.View.SubmitValue" disabled="disabled">
                                    <label for="home-action-view">View report</label>
                                }
                                else
                                {
                                    <input id="home-action-view" type="radio" name="action" value="@SFA.DAS.PSRService.Web.SubmitActions.Home.View.SubmitValue">
                                    <label for="home-action-view">View report</label>
                                }
                            }
                           
                            @if (Model.CanEditReport)
                            {
                                <input id="home-action-edit" type="radio" name="action" value="@SFA.DAS.PSRService.Web.SubmitActions.Home.Edit.SubmitValue">
                                <label for="home-action-edit">Edit report</label>
                            }
                            else if (Model.CanCreateReport && Model.Readonly == false)
                            {
                                <input id="home-action-create" type="radio" name="action" value="@SFA.DAS.PSRService.Web.SubmitActions.Home.Create.SubmitValue">
                                <label for="home-action-create">Create a new report</label>
                            }
                            else
                            {
                                <input id="home-action-create" type="radio" name="action" value="@SFA.DAS.PSRService.Web.SubmitActions.Home.Create.SubmitValue" disabled="disabled">
                                <label for="home-action-create">Create a new report</label>
                            }
                        </div>
                        <div class="multiple-choice">
                            <input id="home-action-list" type="radio" name="action" value="@SFA.DAS.PSRService.Web.SubmitActions.Home.List.SubmitValue">
                            <label for="home-action-list">View a previously submitted report</label>
                        </div>
                    </fieldset>
                </div>
                <div class="form-group">
                    <input class="button" type="submit" value="Continue">
                </div>
            </form>

        </div>
    </div>
