@using SFA.DAS.PSRService.Web.ViewModels
@model SFA.DAS.PSRService.Web.ViewModels.ReportHistoryViewModel

@{
    ViewBag.Title = "Current report edit history";
    Layout = "_Layout";
    ViewBag.CanBeEdited = false;
    ViewBag.CurrentPeriod = Model.Period;
    ViewBag.GaData.Vpv = "/public-sector-reporting/report/page-history";
}

@section breadcrumb {
    <a class="govuk-back-link" asp-controller="Report" asp-action="Edit">Back</a>
}

<h1 class="govuk-heading-xl">Report history</h1>

<table class="govuk-table">
    @*<caption class="govuk-table__caption govuk-table__caption--m">Reporting period</caption>*@
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">Reporting period</td>
        <td class="govuk-table__cell govuk-!-font-weight-bold">@Model.Period.FullString</td>
    </tr>
    </tbody>
</table>

<div class="govuk-grid-row report-history">
    <div class="govuk-grid-column-two-thirds">
        @foreach (var edit in Model.EditHistoryMostRecentFirst)
        {
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">Edit by @edit.UpdatedBy.Name, saved on @edit.UpdatedLocal.ToString("dddd dd MMMM yyyy") at @edit.UpdatedLocal.ToString("HH:mm")</span>
                </summary>
                <div>

                    <partial name="Question/Organisation" model="@new OrganisationReviewViewModel { OrganisationName = edit.OrganisationName, HasMinimumEmployeeHeadcount = edit.HasMinimumEmployeeHeadcount, IsLocalAuthority = edit.IsLocalAuthority })"/>

                    <partial name="Question/ReportNumbers" model="@edit.Sections.Single(w => w.Id == "ReportNumbers")"/>
                    @if (edit.Sections.SingleOrDefault(w => w.Id == "ReportNumbersSchools") != null)
                    {
                        <partial name="Question/ReportNumbersSchools" model="@edit.Sections.Single(w => w.Id == "ReportNumbersSchools")"/>
                    }

                    <partial name="Question/ReportingPercentages" model="@(new PercentagesViewModel(edit.ReportingPercentages))"/>
                    @if (edit.ReportingPercentagesSchools != null)
                    {
                        <partial name="Question/ReportingPercentages" model="@(new PercentagesViewModel(edit.ReportingPercentagesSchools))"/>
                    }
                    @if (edit.Sections.SingleOrDefault(w => w.Id == "Factors") != null)
                    {
                        <partial name="Question/Factors" model="@(edit.Sections.Single(w => w.Id == "Factors"))"/>
                    }
                </div>
            </details>
        }
    </div>
</div>