@model SFA.DAS.PSRService.Web.ViewModels.ReportHistoryViewModel

@{
    ViewBag.Title = "Current report edit history";
    Layout = "_Layout";
    ViewBag.CanBeEdited = false;
    ViewBag.CurrentPeriod = Model.Period;
}

<div class="grid-row">
    <div class="column-two-thirds">
        <a class="link-back" asp-controller="Home" asp-action="Index">Back</a>
        <h1 class="heading-xlarge">Report history</h1>
    </div>

    <div class="form-group">
        <table>
            <caption class="heading-small">Reporting period</caption>
            <tbody>
                <tr>
                    <td>Reporting period</td>
                    <td class="numeric bold-xsmall">@Model.Period.FullString</td>
                    <td class="link-right"></td>
                </tr>
            </tbody>
        </table>
    </div>

    @Html.Partial("Question/Organisation", Model.OrganisationName)
    
    @foreach (var edit in Model.History)
    {
        <div class="form-group">
            <table>
                <caption class="heading-small">Edit</caption>
                <tbody>
                    <tr>
                        <td>Edit by</td>
                        <td class="numeric bold-xsmall">@edit.UpdatedBy.Name</td>
                        <td>on</td>
                        <td class="numeric bold-xsmall">@edit.UpdatedUtc</td>
                    </tr>
                </tbody>
            </table>
        </div>
    @Html.Partial("Question/ReportNumbers", edit.Sections.Single(w => w.Id == "ReportNumbers")) 
    @* @Html.Partial("Question/ReportingPercentages", Model.Percentages) *@
    @Html.Partial("Question/Factors", edit.Sections.Single(w => w.Id == "Factors"))
    }

</div>