@model SFA.DAS.PSRService.Web.ViewModels.OrganisationViewModel

@{
    ViewData["Title"] = "Public sector reporting";
}


@*<h2 class="heading-small">Organisation</h2>*@


<table class="">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <h1 class="heading-xlarge">Your Organisation</h1>
            <h2 class="heading-large">@Model.EmployerAccount.EmployerName</h2>
            <h2 class="heading-medium">Org number: @Model.EmployerAccount.AccountId</h2>

            @*<td class="numeric" style="font-weight:700; font-size:16px;">@Model</td>*@
            <h2 class="heading-medium">What is the name of the organisation you would like to report on?</h2>

            @*<td class="looks-like-a-link-underline">Change</td>*@
        </tr>

    </tbody>

</table>
<form id="myFormId" asp-action="Change">
    @*<fieldset>*@
    <div class="form-group">
        @*<textarea class="form-control form-control-3-4" name="textarea" id="textarea" rows="1" asp-for="Report.OrganisationName">@Model.Report.OrganisationName</textarea>*@
        <input type="text" class="form-control" asp-for="Report.OrganisationName" value="@Model.Report.OrganisationName" />
        <input class="button" type="submit" value="Change">
    </div>
        @*<div class="form-group">
            
        </div>*@
    @*</fieldset>*@
</form>