@model SFA.DAS.PSRService.Web.ViewModels.ReportViewModel

@{
    ViewBag.Title = "Review details";
    ViewBag.Title = Model.IsValidForSubmission ? "Review details" : "Submitted details";
    Layout = "_Layout";
    ViewBag.CanBeEdited = Model.CanBeEdited;
}

<div class="grid-row">
    @if (Model.Report == null)
    {
        <a class="link-back" asp-controller="Home" asp-action="Index">Back</a>
        if (Model.IsReadOnly)
        {
            <legend>
                <h1 class="heading-xlarge">View details</h1>
            </legend>
        }
        else
        {
            <legend>
                <h1 class="heading-xlarge">Review details</h1>
            </legend>
        }
            <p>No reports have been created yet.</p>
    }
    else
    {
            <div class="column-full review-details">
                @if (!Model.Report.Submitted)
                {
                    if (Model.CanBeEdited)
                    {
                        <a class="link-back" asp-controller="Report" asp-action="Edit">Back</a>
                    }
                    else
                    {
                        <a class="link-back" asp-controller="Home" asp-action="Index">Back</a>
                    }

                }
                else
                {
                    <a class="link-back" asp-controller="Report" asp-action="List">Back</a>
                }


                @if (Model.Report.Submitted)
                {
                    <legend>
                        <h1 class="heading-xlarge">Submitted details</h1>
                    </legend>
                }
                else
                {
                    if (Model.IsReadOnly)
                    {
                        <legend>
                            <h1 class="heading-xlarge">View details</h1>
                        </legend>
                        <p style="white-space: pre-line">@Model.Subtitle</p>
                    }
                    else
                    {
                        <legend>
                            <h1 class="heading-xlarge">Review details</h1>
                        </legend>
                        <p style="white-space: pre-line">@Model.Subtitle</p>
                    }
                    <div asp-validation-summary="All" class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                        <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                            @(Model.IsReadOnly ? "These are the current errors" : "Please fix these errors")
                        </h2>
                    </div>
                }

                <div class="form-group">
                    <table>
                        @*<caption class="heading-medium">Reporting period</caption>*@
                        <tbody>
                            <tr>
                                <td>Reporting period</td>
                                <td class="bold">@Model.Period.FullString</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                @Html.Partial("Question/Organisation", Model.Report.OrganisationName)
                @Html.Partial("Question/ReportNumbers", Model.Report.Sections.Single(w => w.Id == "ReportNumbers"))
                @Html.Partial("Question/ReportingPercentages", Model.Percentages)
                @Html.Partial("Question/Factors", Model.Report.Sections.Single(w => w.Id == "Factors"))


            @if (Model.IsValidForSubmission && Model.UserCanSubmitReports)
            {
                <a id="report-summary-continue" class="button" asp-controller="Report" asp-action="Confirm">Continue</a>
            }
            else if (Model.IsValidForSubmission && !Model.UserCanSubmitReports && !Model.IsReadOnly)
            { 
                <a id="report-summary-continue" class="button" asp-controller="Report" asp-action="EditComplete">Continue</a>
            }
            else
            {
                    if (Model.Report.Submitted)
                    {
                        <a id="report-summary-list" class="button" asp-controller="Report" asp-action="List">List submitted reports</a>
                    }
             }
            </div>
    }
</div>