@model SFA.DAS.PSRService.Web.ViewModels.ReportViewModel

@{
    ViewBag.Title = "Review details";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-full review-details">
        <form action="Submit">
            <legend>
                <h1 class="heading-xlarge">Review details</h1>
                <p>Check or amend your information before you continue</p>
            </legend>

            <div class="form-group">
                <table>
                    <caption class="heading-small">Reporting period</caption>
                    <tbody>
                        <tr>
                            <td>Reporting period</td>
                            <td class="bold-xsmall">1 April 2017 to 31 March 2018</td>
                            <td class="link-right"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            @Html.Partial("Question/Organisation", @Model.Report.OrganisationName)
            @Html.Partial("Question/ReportNumbers", @Model.Report.Sections.Single(w => w.Id == "ReportNumbers"))
            @Html.Partial("Question/Factors", @Model.Report.Sections.Single(w => w.Id == "Factors"))

            @*
            @if (Model.SubmitValid)
            {
                <button class="button btn" id="" type="submit">Submit</button>
            }
            *@
            <button class="button" type="submit">Submit</button>

        </form>

    </div>
</div>