@model SFA.DAS.PSRService.Web.ViewModels.ReportViewModel

@{
    ViewBag.Title = "Review details";
    ViewBag.Title = Model.IsValidForSubmission ? "Review details" : "Submitted details";
    Layout = "_Layout";

    ViewBag.CanBeEdited = Model.CanBeEdited;
}

<div class="grid-row">
    <div class="column-full review-details">
        @if (!Model.Report.Submitted)
        {
            <a class="link-back" asp-controller="Report" asp-action="Edit">Back</a>
        }
        else
        {
            <a class="link-back" asp-controller="Report" asp-action="List">Back</a>
        }
        <form action="Submit">

            @if (Model.Report.Submitted)
            {
                <legend>
                    <h1 class="heading-xlarge">Submitted details</h1>
                </legend>
            }
            else
            {
                <legend>
                    <h1 class="heading-xlarge">Review details</h1>
                    <p>Check or amend your information before you continue</p>
                </legend>

                <div asp-validation-summary="All" class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                    <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                        Please fix these errors
                    </h2>
                </div>

            }

            <div class="form-group">
                <table>
                    <caption class="heading-small">Reporting period</caption>
                    <tbody>
                        <tr>
                            <td>Reporting period</td>
                            <td class="numeric bold-xsmall">@Model.Period.FullString</td>
                            <td class="link-right"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            @Html.Partial("Question/Organisation", Model.Report.OrganisationName)
            @Html.Partial("Question/ReportNumbers", Model.Report.Sections.Single(w => w.Id == "ReportNumbers"))
            @Html.Partial("Question/ReportingPercentages", Model.Percentages)
            @Html.Partial("Question/Factors", Model.Report.Sections.Single(w => w.Id == "Factors"))


            @if (Model.IsValidForSubmission && Model.UserCanSubmitReports)
            {
                <button class="button" type="submit">Submit</button>
            }
            else
            {
                if (Model.Report.Submitted)
                {
                    <a class="button" asp-controller="Report" asp-action="List">List submitted reports</a>
                }
            }

        </form>

    </div>
</div>