@model SFA.DAS.PSRService.Web.ViewModels.ReportViewModel

@{
    ViewBag.Title = "Review details";
    Layout = "_Layout";

    ViewBag.SubmitValid = Model.SubmitValid;
}

<div class="grid-row">
    <div class="column-full review-details">
        @if (Model.SubmitValid)
        {
            <a class="link-back" asp-controller="Report" asp-action="Edit">Back</a>
        }
        <form action="Submit">

            @if (Model.SubmitValid)
            {
                <legend>
                    <h1 class="heading-xlarge">Review details</h1>
                    <p>Check or amend your information before you continue</p>
                </legend>
            }
            else
            {
                <legend>
                    <h1 class="heading-xlarge">Submitted details</h1>
                </legend>

            }
            
            <div class="form-group">
                <table>
                    <caption class="heading-small">Reporting period</caption>
                    <tbody>
                        <tr>
                            <td>Reporting period</td>
                            <td class="bold-xsmall">1 April 2017 to 31 March 2018</td>
                            <td class="link-right"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            @Html.Partial("Question/Organisation", @Model.Report.OrganisationName)
            @Html.Partial("Question/ReportNumbers", @Model.Report.Sections.Single(w => w.Id == "ReportNumbers"))
            @Html.Partial("Question/Factors", @Model.Report.Sections.Single(w => w.Id == "Factors"))


            @if (Model.SubmitValid)
            {
                <button class="button" type="submit">Submit</button>
            }
            else
            {
                <a class="button" asp-controller="Report" asp-action="List">List submitted reports</a>
            }

        </form>

    </div>
</div>