@using SFA.DAS.PSRService.Web.ViewModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SFA.DAS.PSRService.Web.ViewModels.ReportViewModel

@{
    ViewBag.Title = "Review details";
    ViewBag.Title = Model.IsValidForSubmission ? "Review details" : "Submitted details";
    Layout = "_Layout";
    ViewBag.CanBeEdited = Model.CanBeEdited;
    ViewBag.GaData.Vpv = "/public-sector-reporting/report/page-summary";
    ViewBag.ZenDeskLabel = "reporting-review-details";
}

<div class="govuk-grid-row">
    @if (Model.Report == null)
    {
        <a class="govuk-back-link" asp-controller="Home" asp-action="Index">Back</a>
        if (Model.IsReadOnly)
        {
            <legend>
                <h1 class="govuk-heading-xl">View details</h1>
            </legend>
        }
        else
        {
            <legend>
                <h1 class="govuk-heading-xl">Review details</h1>
            </legend>
        }
        <p id="report-summary-no-reports-message">No reports have been created yet.</p>
    }
    else
    {
        <div class="govuk-grid-column-full review-details">
            @if (!Model.Report.Submitted)
            {
                if (Model.CanBeEdited)
                {
                    <a class="govuk-back-link" asp-controller="Report" asp-action="Edit">Back</a>
                }
                else
                {
                    <a class="govuk-back-link" asp-controller="Home" asp-action="Index">Back</a>
                }

            }
            else
            {
                <a class="govuk-back-link" asp-controller="Report" asp-action="List">Back</a>
            }


            @if (Model.Report.Submitted)
            {
                <legend>
                    <h1 class="govuk-heading-xl">Submitted details</h1>
                </legend>
            }
            else
            {
                if (Model.IsReadOnly)
                {
                    <legend>
                        <h1 class="govuk-heading-xl">View details</h1>
                    </legend>
                    <p style="white-space: pre-line">@Model.Subtitle</p>
                }
                else
                {
                    <legend>
                        <h1 class="govuk-heading-xl">Review details</h1>
                    </legend>
                    <p style="white-space: pre-line">@Model.Subtitle</p>
                }
                <div asp-validation-summary="All" class="govuk-error-summary" data-module="govuk-error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                    <h2 class="govuk-error-summary__title" id="error-summary-heading">
                        @(Model.IsReadOnly ? "These are the current errors" : "There is a problem")
                    </h2>
                </div>
            }

            <div class="govuk-form-group">
                <table class="govuk-table">
                    @*<caption class="govuk-table__caption govuk-table__caption--m">Reporting period</caption>*@
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Reporting period</td>
                            <td class="govuk-table__cell govuk-!-font-weight-bold">@Model.Report.Period.FullString</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            @Html.Partial("Question/Organisation", new OrganisationReviewViewModel() { OrganisationName = Model.Report.OrganisationName,HasMinimumEmployeeHeadcount = Model.Report.HasMinimumEmployeeHeadcount,IsLocalAuthority = Model.Report.IsLocalAuthority })

            @Html.Partial("Question/ReportNumbers", Model.Report.Sections.Single(w => w.Id == "ReportNumbers"))
            @if (Model.Report.Sections.SingleOrDefault(w => w.Id == "ReportNumbersSchools") != null)
            {
                @Html.Partial("Question/ReportNumbersSchools", Model.Report.Sections.Single(w => w.Id == "ReportNumbersSchools"))
            }


            @Html.Partial("Question/ReportingPercentages", Model.Percentages)
            @if (Model.PercentagesSchools != null)
            {
                @Html.Partial("Question/ReportingPercentages", Model.PercentagesSchools)
            }
            @if (Model.Report.Sections.SingleOrDefault(w => w.Id == "Factors") != null)
            {
                @Html.Partial("Question/Factors", Model.Report.Sections.Single(w => w.Id == "Factors"))
            }

            @if (Model.IsValidForSubmission && Model.UserCanSubmitReports)
            {
                <a id="report-summary-continue" class="govuk-button" asp-controller="Report" asp-action="Confirm">Continue</a>
            }
            else if (Model.IsValidForSubmission && !Model.UserCanSubmitReports && !Model.IsReadOnly)
            {
                <a id="report-summary-continue" class="govuk-button" asp-controller="Report" asp-action="EditComplete">Continue</a>
            }
            else
            {
                if (Model.Report.Submitted)
                {
                    if (Model.UserCanEditReports && Model.Report.Period.Equals(Model.CurrentPeriod))
                    {
                        <a id="report-summary-amend" class="govuk-button" asp-controller="Report" asp-action="ConfirmAmend">Amend report</a>
                    }
                    else
                    {
                        <a id="report-summary-list" class="govuk-button" asp-controller="Report" asp-action="List">List submitted reports</a>
                    }
                }
            }
        </div>
    }
</div>