@model bool?

@{
    ViewData["Title"] = "Your organisation";
    ViewBag.GaData.Vpv = "/public-sector-reporting/report/page-your-totalemployees";
    ViewBag.ZenDeskLabel = "reporting-your-totalemployees";
}
<a class="govuk-back-link" asp-controller="Report" asp-action="Edit">Back</a>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-m">Total number of employees</h1>
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                You will need this information to continue.
            </strong>
        </div>
        <form method="post" asp-action="TotalEmployees">
            <div class="govuk-form-group @(ViewData.ModelState.IsValid ? "":"govuk-form-group--error")">
                <fieldset class="govuk-fieldset">
                    <legend>
                        <p class="body-text">
                            Did your organisation employ more than 250 people on 31 March @ViewBag.CurrentPeriod.StartYear.AsFourDigitString?
                        </p>
                    </legend>
                    @if (!ViewData.ModelState.IsValid && ViewData.ModelState.ContainsKey("confirm-yes"))
                    {
                        <p id="confirm-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState["confirm-yes"].Errors.First().ErrorMessage
                        </p>
                    }
                    <div class="govuk-radios__item">
                        <input id="totalemployees-action-yes" type="radio" name="hasMinimumEmployeeHeadcount" value="true" @(Model == true ? "checked" : "")>
                        <label for="totalemployees-action-yes">Yes</label>
                    </div>
                    <div class="govuk-radios__item">
                        <input id="totalemployees-action-no" type="radio" name="hasMinimumEmployeeHeadcount" value="false" @(Model == false ? "checked" : "")>
                        <label for="totalemployees-action-no">No</label>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-form-group">
                <input id="SubmitSelectOptionForm" class="govuk-button" type="submit" value="Continue">
            </div>
        </form>
    </div>
</div>
