@using SFA.DAS.PSRService.Domain.Enums
@model SFA.DAS.PSRService.Web.ViewModels.SectionViewModel

@{
    ViewData["Title"] = "Public sector reporting - Anything else";
    var questionsList = Model.Questions.ToArray();
}

<fieldset>
     <div class="form-group">
        <h1>
            <label for="anything-else">
                <span class="heading-large">@Model.CurrentSection.Title</span>
                <span asp-validation-for="@Model.Questions.ToArray()[0].Answer" class="error-message" data-valmsg-for="Section.Questions[0].Answer"></span>
            </label>
        </h1>
        <input type="hidden" name="Section.Questions[0].Id" value="@Model.Questions.ToArray()[0].Id" />
        <input type="hidden" name="Section.Questions[0].Type" value="@Model.Questions.ToArray()[0].Type" />
        <textarea class="js-word-limit form-control form-control-3-4" asp-for="@Model.Questions.ToArray()[0].Answer" name="Section.Questions[0].Answer" value="@questionsList[0].Answer" rows="8"></textarea>
        <span class="sfa-form-control-after">
            <span class="words-left"></span>
        </span>
    </div>
</fieldset>