@model SFA.DAS.PSRService.Web.ViewModels.SectionViewModel

@{
    ViewData["Title"] = "Public sector reporting - Full time equivalent";
    var questionsList = Model.Questions.ToArray();
    ViewBag.GaData.Vpv = "/public-sector-reporting/question/page-fulltime-equivalent";
}

<h1 class="govuk-heading-l">
    Your full-time equivalents (optional)
</h1>

<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">How to calculate your full-time equivalent numbers</span>
    </summary>
    <div class="govuk-details__text">
        <p>Firstly, work out the number of weekly hours each part-time employee is contracted to work divided by your organisation’s standard full-time working week. For example, 10 hours divided by 37 hours equates to 0.27 full-time equivalents.</p>
        <p>Then add your full-time employee numbers to come up with a total number of full-time equivalents. Round your total to the nearest whole number.</p>
    </div>
</details>

<div class="govuk-form-group">
    <label class="govuk-label govuk-label--m" asp-for="@Model.Questions.ToArray()[0].Answer">
        Number of full-time equivalents (optional)
    </label>
    <p asp-validation-for="@Model.Questions.ToArray()[0].Answer" class="govuk-error-message" data-valmsg-for="Section.Questions[0].Answer"></p>
    <input type="hidden" name="Section.Questions[0].Id" value="@Model.Questions.ToArray()[0].Id" />
    <input type="text" class="govuk-input govuk-!-width-one-third js-addcommas" asp-for="@Model.Questions.ToArray()[0].Answer" name="Section.Questions[0].Answer" value="@Model.Questions.ToArray()[0].Answer" maxlength="11" />
</div>