@using SFA.DAS.PSRService.Domain.Enums
@model SFA.DAS.PSRService.Web.ViewModels.SectionViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@{
    var questionsList = Model.Questions.ToArray();
    ViewBag.GaData.Vpv = "/public-sector-reporting/question/page-schools-apprentices";
}

<h1 class="govuk-heading-l">
    @Model.CurrentSection.Title
</h1>

<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">Who counts as an apprentice</span>
    </summary>
    <div class="govuk-details__text">
        <p class="govuk-heading-s">You should include the following staff when calculating your apprentice numbers:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>anyone doing an approved English apprenticeship framework or standard with an apprenticeship agreement in place</li>
        </ul>
    </div>
</details>

<div class="govuk-form-group">
    <label class="govuk-label govuk-label--m" asp-for="@Model.Questions.ToArray()[0].Answer">
        Number of apprentices who were working in England on 31 March @Model.CurrentPeriod.StartYear.AsFourDigitString
    </label>
    <p asp-validation-for="@Model.Questions.ToArray()[0].Answer" class="govuk-error-message" data-valmsg-for="Section.Questions[0].Answer"></p>
    <input type="hidden" name="Section.Questions[0].Id" value="@questionsList[0].Id" />
    <input type="text" class="govuk-input govuk-!-width-one-third js-addcommas" asp-for="@Model.Questions.ToArray()[0].Answer" name="Section.Questions[0].Answer" value="@questionsList[0].Answer" maxlength="11" />
</div>

<div class="govuk-form-group">
    <label class="govuk-label govuk-label--m" asp-for="@Model.Questions.ToArray()[1].Answer">
        Number of apprentices who were working in England on 31 March @Model.CurrentPeriod.EndYear.AsFourDigitString
    </label>
    <p asp-validation-for="@Model.Questions.ToArray()[1].Answer" class="govuk-error-message" data-valmsg-for="Section.Questions[1].Answer"></p>
    <input type="hidden" name="Section.Questions[1].Id" value="@questionsList[1].Id" />
    <input type="text"  class="govuk-input govuk-!-width-one-third js-addcommas"  asp-for="@Model.Questions.ToArray()[1].Answer"  name="Section.Questions[1].Answer" value="@questionsList[1].Answer" maxlength="11" />
</div>

<div class="govuk-form-group">
    <label class="govuk-label govuk-label--m" asp-for="@Model.Questions.ToArray()[2].Answer">
        Number of new apprentices whose apprenticeship agreements started between @Model.CurrentPeriod.FullString
    </label>
    <div class="govuk-hint">This includes both new hires and existing employees who started an apprenticeship</div>
    <p asp-validation-for="@Model.Questions.ToArray()[2].Answer" class="govuk-error-message" data-valmsg-for="Section.Questions[2].Answer"></p>
    <input type="hidden" name="Section.Questions[2].Id" value="@questionsList[2].Id" />
    <input type="text"  class="govuk-input govuk-!-width-one-third js-addcommas" asp-for="@Model.Questions.ToArray()[2].Answer"  name="Section.Questions[2].Answer" value="@questionsList[2].Answer" maxlength="11" />
</div>