@using SFA.DAS.PSRService.Domain.Enums
@model SFA.DAS.PSRService.Web.ViewModels.SectionViewModel

@{
    ViewData["Title"] = "Public sector reporting - Outline actions";
    var questionsList = Model.Questions.ToArray();
    ViewBag.GaData.Vpv = "/public-sector-reporting/question/page-target-plans";
}

<fieldset class="govuk-fieldset">
    <div class="govuk-form-group">
        <h1>
            <label asp-for="@Model.Questions.ToArray()[0].Answer">
                <span class="govuk-heading-l">@Model.CurrentSection.Title</span>
                <span asp-validation-for="@Model.Questions.ToArray()[0].Answer" class="govuk-error-message" data-valmsg-for="Section.Questions[0].Answer"></span>
            </label>
        </h1>
        <input type="hidden" name="Section.Questions[0].Id" value="@Model.Questions.ToArray()[0].Id" />
        <input type="hidden" name="Section.Questions[0].Type" value="@Model.Questions.ToArray()[0].Type" />
        <textarea class="govuk-input govuk-!-width-three-quarters js-word-limit js-auto-expand" asp-for="@Model.Questions.ToArray()[0].Answer" name="Section.Questions[0].Answer" value="@Model.Questions.ToArray()[0].Answer" rows="8"></textarea>
        <span class="sfa-form-control-after">
            <span class="words-left">500 words maximum</span>
        </span>
    </div>
</fieldset>