@using SFA.DAS.PSRService.Domain.Enums
@model SFA.DAS.PSRService.Web.ViewModels.SectionViewModel

@{
    var questionList = @Model.Questions.ToDictionary(k => k.Id);
}
<div class="column-full">
    <h1 class="heading-large">
        @Model.CurrentSection.Title
    </h1>


        <fieldset>

            <div class="form-group">

                <input type="hidden" name="Section.Questions[0].Id" value="@Model.Questions.ToArray()[0].Id" />
                <input type="hidden" name="Section.Questions[0].Type" value="@Model.Questions.ToArray()[0].Type" />
                <textarea class="form-control form-control-3-4" rows="8" asp-for="@Model.Questions.ToArray()[0].Answer" name="Section.Questions[0].Answer" value="@Model.Questions.ToArray()[0].Answer"></textarea>
            </div>

        </fieldset>


</div>