@using SFA.DAS.PSRService.Domain.Enums
@model SFA.DAS.PSRService.Web.ViewModels.SectionViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@{
    ViewData["Title"] = "Public sector reporting";
    var questionsList = Model.Questions.ToArray();
}

<h1 class="heading-xlarge">
    @* @Model.CurrentSection.Title *@
    Your employees
</h1>
<div class="form-group">
    <details>
        <summary>
            <span class="summary">Who counts as an employee</span>
        </summary>
        <div class="panel panel-border-narrow">
            <p class="heading-small">You should include the following staff when calculating your employee numbers:</p>
            <ul class="list-bullet">
                <li>anyone on your payroll on whose behalf you make National Insurance contributions</li>
                <li>staff on fixed-term contracts</li>
                <li>staff on maternity, paternity or adoption leave</li>
                <li>staff on sick leave or extended paid leave</li>
                <li>apprentices employed by the public body through an Apprenticeship Training Agency</li>
                <li>employees on secondment or loan if you are paying more than 50% of their wages</li>
            </ul>
            <p class="heading-small">Do not include:</p>
            <ul class="list-bullet">
                <li>anyone employed through employment agencies</li>
                <li>those working on a zero-hour contract</li>
                <li>bank staff</li>
                <li>employees in sub-contracted organisations who are not paid directly from your payroll</li>
                <li>those on career breaks</li>
            </ul>
        </div>
    </details>
</div>
<fieldset>
    <div class="form-group">
        <label class="form-label-bold" for="employees-england-last-march">
            Number of employees who were working in England on 31 March @Model.CurrentPeriod.StartYear
            <span asp-validation-for="@Model.Questions.ToArray()[0].Answer" class="error-message" data-valmsg-for="Section.Questions[0].Answer"></span>
        </label>
        <span asp-validation-for="@Model.Questions.ToArray()[0].Answer" class="error-message" asp-valmsg-for="Section.Questions[0].Answer"></span>
        <input type="hidden" name="Section.Questions[0].Id" value="@questionsList[0].Id" />
        <input type="text" class="form-control form-control-1-3 js-addcommas" asp-for="@Model.Questions.ToArray()[0].Answer" name="Section.Questions[0].Answer" value="@questionsList[0].Answer" maxlength="11" />
    </div>
</fieldset>
<fieldset>
    <div class="form-group">
        <label class="form-label-bold" for="employees-england-this-march">
            Number of employees who were working in England on 31 March @Model.CurrentPeriod.EndYear
            <span asp-validation-for="@Model.Questions.ToArray()[1].Answer" class="error-message" data-valmsg-for="Section.Questions[1].Answer"></span>
        </label>
        <input type="hidden" name="Section.Questions[1].Id" value="@questionsList[1].Id" />
        <input type="text" class="form-control form-control-1-3 js-addcommas" asp-for="@Model.Questions.ToArray()[1].Answer" name="Section.Questions[1].Answer" value="@questionsList[1].Answer" maxlength="11" />
    </div>
</fieldset>
<fieldset>
    <div class="form-group">
        <label class="form-label-bold" for="new-employees-within-year">
            Number of new employees who started working for you in England between @Model.CurrentPeriod.FullString
            <span asp-validation-for="@Model.Questions.ToArray()[2].Answer" class="error-message" data-valmsg-for="Section.Questions[2].Answer"></span>
        </label>
        <input type="hidden" name="Section.Questions[2].Id" value="@questionsList[2].Id" />
        <input type="text" class="form-control form-control-1-3 js-addcommas" asp-for="@Model.Questions.ToArray()[2].Answer" name="Section.Questions[2].Answer" value="@questionsList[2].Answer" maxlength="11" />
    </div>
</fieldset>
