@using SFA.DAS.PSRService.Domain.Enums
@model SFA.DAS.PSRService.Web.ViewModels.SectionViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@{
      var questionsList = Model.Questions.ToArray();
}

<h1 class="heading-xlarge">
    @* @Model.CurrentSection.Title *@
    Your apprentices
</h1>
<div class="form-group">
    <details>
        <summary>
            <span class="summary">Who counts as an apprentice</span>
        </summary>
        <div class="panel panel-border-narrow">
            <ul class="list-bullet">
                <li>????</li>
                <li>????</li>
                <li>Page 9 of the guidance has this list</li>
            </ul>
        </div>
    </details>
</div>
<fieldset>
    <div class="form-group">
        <label class="form-label-bold" for="apprentices-england-last-march">
            Number of apprentices who were working in England on 31 March 2017
        </label>
        <input type="hidden" name="Section.Questions[0].Id" value="@questionsList[0].Id" />
        <input type="text" class="form-control" asp-for="@Model.Questions.ToArray()[0].Answer" name="Section.Questions[0].Answer" value="@questionsList[0].Answer"/>
    </div>
</fieldset>
<fieldset>
    <div class="form-group">
        <label class="form-label-bold" for="apprentices-england-last-march">
            Number of apprentices who were working in England on 31 March 2017
        </label>
        <input type="hidden" name="Section.Questions[1].Id" value="@questionsList[1].Id" />
        <input type="text"  class="form-control"  asp-for="@Model.Questions.ToArray()[1].Answer"  name="Section.Questions[1].Answer" value="@questionsList[1].Answer"/>
    </div>
</fieldset>
<fieldset>
    <div class="form-group">
        <label class="form-label-bold" for="new-apprentices-within-year">
            Number of apprentices who were working in England on 31 March 2017
        </label>
        <input type="hidden" name="Section.Questions[2].Id" value="@questionsList[2].Id" />
        <input type="text"  class="form-control" asp-for="@Model.Questions.ToArray()[2].Answer"  name="Section.Questions[2].Answer" value="@questionsList[2].Answer"/>
    </div>
</fieldset>
