@using SFA.DAS.PSRService.Domain.Enums
@model SFA.DAS.PSRService.Web.ViewModels.SectionViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@{
    ViewData["Title"] = "Public sector reporting";
    var questionsList = Model.Questions.ToArray();



}

<input type="hidden" name="Section.Index" value="@Model.CurrentSection.Id" />

<div class="column-full">
    <h1 class="heading-xlarge">


        @Model.CurrentSection.Title
    </h1>
    <details>

        <summary><span class="summary">Who counts as an employee</span></summary>
        <div class="panel panel-border-narrow">
            <ul class="list-bullet">

                <li>things</li>
                <li>stuff</li>
                <li>Page 9 of the guidance has this list</li>
            </ul><p></p>
        </div>
    </details>
    <div style="margin-top:35px"></div>
    <fieldset>

        <div class="form-group" style="">
            <label class="form-label-bold" for="">
                Number of employees who were working in England on 31 March 2017

            </label>

            <input type="hidden" name="Section.Questions[0].Id" value="@questionsList[0].Id" />
            <input type="text" class="form-control" asp-for="@Model.Questions.ToArray()[0].Answer" name="Section.Questions[0].Answer" value="@questionsList[0].Answer"/>
        </div>

    </fieldset>
    <fieldset>
        <div class="form-group" style="">
            <label class="form-label-bold" for="">
                Number of employees who were working in England on 31 March 2018

            </label>
            <input type="hidden" name="Section.Questions[1].Id" value="@questionsList[1].Id" />
            <input type="text"  class="form-control"  asp-for="@Model.Questions.ToArray()[1].Answer"  name="Section.Questions[1].Answer" value="@questionsList[1].Answer"/>
        </div>

    </fieldset>
    <fieldset>
        <!--hr style=""/-->

        <div class="form-group" style="">
            <label class="form-label-bold" for="">
                Number of new employees who started working for you in England between 1 April 2017 and 31 March 2018

            </label>
            <input type="hidden" name="Section.Questions[2].Id" value="@questionsList[2].Id" />
            <input type="text"  class="form-control" asp-for="@Model.Questions.ToArray()[2].Answer"  name="Section.Questions[2].Answer" value="@questionsList[2].Answer"/>

        </div>
    </fieldset>

</div>