@model SFA.DAS.PSRService.Domain.Entities.Section

@{
    ViewData["Title"] = "Public sector reporting";
    ViewBag.GaData.Vpv = "/public-sector-reporting/sections/page-report-numbers";
    var SerialNo = (!string.IsNullOrEmpty(@Model.SerialNo)) ? @Model.SerialNo : "2";
}

<li>
    <h2 class="das-task-list__section">
        <span class="das-task-list__section-number">@SerialNo. </span> @Model.Title
    </h2>
    <ul class="das-task-list__items">

        @if (Model.SubSections != null)
        {
            foreach (var subSection in Model.SubSections)
            {
                <li class="das-task-list__item">
                    <a class="govuk-link"
                       asp-controller="Question"
                       asp-action="Index"
                       asp-route-hashedEmployerAccountId="@ViewData[RouteValues.HashedEmployerAccountId]"
                       asp-route-id="@subSection.Id" aria-describedby="@($"{subSection.Id}-complete")">

                        @if (subSection.Id != "FullTimeEquivalent")
                        {
                            @subSection.SummaryText.Split("-").First()
                        }
                        else
                        {
                            @subSection.SummaryText
                        }

                    </a>
                    @if (subSection.IsComplete())
                    {
                        <span id="@($"{subSection.Id}-task-completed")" class="das-tag das-task-list__task-tag">Complete</span>
                    }
                </li>
            }
        }
    </ul>
</li>