@using Microsoft.AspNetCore.Routing
@using SFA.DAS.PSRService.Domain.Enums
@using SFA.DAS.PSRService.Web.ViewModels
@model SFA.DAS.PSRService.Domain.Entities.Section

@{
    ViewData["Title"] = "Public sector reporting";
    var employerId = Context.GetRouteData().Values["employerAccountId"];
}

<li>
    <h2 class="task-list-section">
        <span class="task-list-section-number">2. </span> @Model.Title
    </h2>
    <ul class="task-list-items">
        @if (Model.SubSections != null)
        {
            foreach (var subSection in Model.SubSections)
            {
                    // @Html.Partial("Question/" + @subSection.Id, Model)
                    <li class="task-list-item">
                        <a class="task-name" href="./Question/@subSection.Id" id="@subSection.Id" aria-describedby="@($"{subSection.Id}-complete")">@subSection.SummaryText</a>
                        @if (subSection.IsComplete())
                        {
                            <span id="@($"{subSection.Id}-task-completed")" class="task-completed">COMPLETE</span>
                        }
                    </li>

            }
        }
    </ul>
</li>
