@using Microsoft.AspNetCore.Http
@using SFA.DAS.EAS.Web.ViewModels

@{
    var easUrl = ViewData["RootUrl"].ToString();
    var employerCommitmentsUrl = ViewData["RootUrl"].ToString();
}
<div id="floating-menu-holder">
    <div class="account-information floating-menu" role="navigation">
        <div class="js-float">
            <p class="floating-head-text">Your employer account </p>
            <nav id="user-nav">
                <ul role="menubar">
                    <li><a href="@Url.ExternalUrlAction(easUrl,"service", "help", true)" class="menu-main">Help</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {

                        <li class="has-sub-menu">
                            <a href="/" role="menuitem" class="menu-main">Settings</a>
                            <ul role="menu" id="settings-menu" class="js-hidden">
                                <li><a href="@Url.ExternalUrlAction(easUrl,"service", "accounts",true)" role="menuitem" class="sub-menu-item">Your accounts</a></li>
                                @if (string.IsNullOrWhiteSpace(ViewBag.HideNav))
                                {
                                    <li><a href="@Url.ExternalUrlAction(easUrl,"rename")" role="menuitem" class="sub-menu-item">Rename account</a></li>
                                }
                                <li><a href="@UserLinksViewModel.ChangePasswordLink" class="sub-menu-item">Change your password</a></li>
                                <li><a href="@UserLinksViewModel.ChangeEmailLink" class="sub-menu-item">Change your email address</a></li>
                                <li><a href="@Url.ExternalUrlAction(easUrl,"settings", "notifications",true)" class="sub-menu-item">Notification settings</a></li>

                            </ul>
                        </li>
                        <li><a href="@Url.Action("Logout", "Home")" role="menuitem" class="menu-main">Sign out</a></li>

                    }
                    else
                    {
                        if (Model?.GetType().GetProperty("HideHeaderSignInLink") == null)
                        {
                            <li><a href="@Url.ExternalUrlAction(easUrl,"service", "signin",true)" role="menuitem">Sign in / Register</a></li>
                        }
                    }
                </ul>
            </nav>
        </div>
    </div>
</div> <!--/floating-menu-holder-->
    
@if (User.Identity.IsAuthenticated)
{
    if (string.IsNullOrWhiteSpace(ViewBag.HideNav))
    {
        <div class="header-organisation" role="navigation">

            <nav class="header-inner">
                <ul role="menubar" id="global-nav-links">
                    <li><a href="@Url.ExternalUrlAction(easUrl,"teams")" class="@(ViewBag.Section == "home" ? "selected" : "")" role="menuitem">Home</a></li>
                    <li><a href="@Url.ExternalUrlAction(easUrl,"balance")" class="@(ViewBag.Section == "finance" ? "selected" : "")" role="menuitem">Finance</a></li>
                    <li><a href="@Url.ExternalUrlAction(employerCommitmentsUrl,"Index", "EmployerCommitments")" class="@(ViewBag.Section == "apprentices" ? "selected" : "")" role="menuitem">Apprentices</a></li>
                    <li><a href="@Url.ExternalUrlAction(easUrl,"teams", "view")" class="@(ViewBag.Section == "team" ? "selected" : "")" role="menuitem">Your team</a></li>
                    <li><a href="@Url.ExternalUrlAction(easUrl,"agreements")" class="@(ViewBag.Section == "organisations" ? "selected" : "")" role="menuitem">Your organisations and agreements</a></li>
                    <li><a href="@Url.ExternalUrlAction(easUrl,"schemes")" class="@(ViewBag.Section == "paye" ? "selected" : "")" role="menuitem">PAYE schemes</a></li>
                </ul>
            </nav>
        </div>
    }
}